       /* Sayfanın arka planı siyah */
       body {
        background-color:#121212;
        backdrop-filter: blur(20px); /* Blur efekti */
    }

    /* Terminal kutusu sabit boyut */
    .terminal-box {
        background-color: #2d2d2d;
        color: #00ff00;
        padding: 20px;
        border-radius: 8px;
        font-family: 'Courier New', Courier, monospace;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        overflow-y: auto; /* İçerik sığmazsa kaydırma çubuğu ekler */
        height: 500px; /* Sabit yüksekliği artırdım */
        max-width: 100%;
    }

    /* Terminal başlığı */
    .terminal-header {
        background-color: #1a1a1a;
        padding: 10px;
        color: #fff;
        border-radius: 8px 8px 0 0;
        text-align: left;
        font-size: 14px;
        position: relative;
    }
    .terminal-header .buttons {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    .terminal-header .buttons span {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 8px;
    }
    .close {
        background-color: #e06c75;
    }
    .minimize {
        background-color: #e5c07b;
    }
    .maximize {
        background-color: #98c379;
    }
    .hostname {
        color: #fff;
    }

    hr {
        border-color: #555;
    }

    .footer {
        color: #00ff00;
        font-family: 'Courier New', Courier, monospace;
    }

    a:hover {
        color: yellow;
      }