name: Docker Build and Publish

on:
  workflow_dispatch:  # Manuel tetikleme
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}  # Secret

      - name: Build Docker image
        run: docker build -t ghcr.io/berkbal/berkbal.github.io:latest -t ghcr.io/berkbal/berkbal.github.io:${{ github.sha }} .

      - name: Push Docker image to GitHub Container Registry
        run: |
          docker push ghcr.io/berkbal/berkbal.github.io:latest
          docker push ghcr.io/berkbal/berkbal.github.io:${{ github.sha }}

